/.idea/
/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal


public/uploads/

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/spring/*.pid

/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

/config/master.key