@import "bootstrap-sprockets"
@import "bootstrap"
@import "variables"
@import "mixins"

body
  padding-top: 60px

section
  overflow: auto

textarea
  resize: vertical

.center
  text-align: center

  h1
    margin-bottom: 10px

h1, h2, h3, h4, h5, h6
  line-height: 1

h1
  margin-bottom: 30px
  text-align: center
  font-size: 3em
  letter-spacing: -2px

h2
  margin-bottom: 30px
  text-align: center
  letter-spacing: -1px
  font:
    weight: normal
    size: 1.2em
  color: $gray-light

p
  font-size: 1.1em
  line-height: 1.7em

#logo
  margin-right: 10px
  padding-top: 9px
  float: left
  text-transform: uppercase
  letter-spacing: -1px
  color: $white
  font:
    weight: bold
    size: 1.7em

  &:hover
    color: $white
    text-decoration: none


/* footer */

footer
  margin-top: 45px
  padding-top: 5px
  border-top: 1px solid $gray-medium-light
  color: $gray-light

  a
    color: $gray-dark
    &:hover
      color: $black

  small
    float: left

  ul
    float: right
    list-style: none

    li
      float: left
      margin-left: 15px

/* miscellaneous */

.debug_dump
  clear: both
  float: left
  width: 100%
  margin-top: 45px
  @include box_sizing